@using EntityLayer.Concrete
@model List<Article>

<div class="tech-btm">
    <h4>Other Articles This Writer's'</h4>

    <div class="blog-grids row mb-3">
        @foreach (var item in Model)
        {
            <div class="col-md-5 blog-grid-left">
                <a href="/Article/ArticleReadAll">
                    <img src="@item.ArticleImage" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="/Article/ArticleReadAll">@item.ArticleName </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @(((DateTime)item.ArticleCreateDate).ToString("dd-MMM-yyyy"))
                    </span>
                </div>
            </div>

        
        }
</div>